<!DOCTYPE html>
<html>

<head>
    <title>Not Found</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
    <div class="error_title">
        <div>Looks like you've gotten a bit lost...</div>
    </div>
    <div class="error_holder">
        <div class="not_found">
            Why don't you head on <a href="/"><span class="link">home</span></a>?
        </div>
    </div>
    <script src="/js/reload.js"></script>
</body>

</html>